@using Travel.Models.Sinif
@model List<Travel.Models.Sinif.iletisim>
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>İletişim kısmından gelen mesajlar</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kullanıcı adı</th>
        <th>Mail</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Sil</th>

    </tr>


    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.AdSoyad</td>
            <td>@x.Mail</td>
            <td>@x.Konu</td>
            <td>@x.Mesaj</td>
            <td><a href="/Iletisim/IletisimMesajiSil/" class="btn btn-danger">Sil</a></td>

        </tr>
    }

</table>
